# Batch layer
boto3>=1.34
pandas>=2.0
requests>=2.31
websocket-client>=1.7
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git@e6f6aaa7de439ac6e454d9b26d2760ded8dc4923

# Streaming layer
kafka-python>=2.0
python-binance>=1.0
# pyspark is provided by the AWS Glue runtime
